.eightmain {
  width: 100%;
  min-width: 1920px;
  min-height: 100vh;
  background-image: url("../../assets/images/main/main.svg");
  background-position: center;
  background-size: cover;
  padding-top: 15rem;

  &-area {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
