$NANUM_URL: "../assets/font/Nanum/NanumSquare";

@mixin font_face($weight, $url) {
  font-family: NanumSquare;
  font-display: block;
  font-weight: $weight;
  src: url($url + ".eot");
  src: url($url + ".eot?#iefix") format("embedded-opentype"),
    url($url + ".woff") format("woff");
}

$NANUM_L_WEIGHT: 300;
$NANUM_R_WEIGHT: 400;
$NANUM_B_WEIGHT: 700;
$NANUM_EB_WEIGHT: 800;

@font-face {
  @include font_face($NANUM_L_WEIGHT, $NANUM_URL + "L");
}

@font-face {
  @include font_face($NANUM_R_WEIGHT, $NANUM_URL + "R");
}

@font-face {
  @include font_face($NANUM_B_WEIGHT, $NANUM_URL + "B");
}

@font-face {
  @include font_face($NANUM_EB_WEIGHT, $NANUM_URL + "EB");
}
