@import "./font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: NanumSquare;
  height: 100vh;
  margin: 0;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden {
  overflow: hidden;
}

.up {
  z-index: 2;
  opacity: 1;
}
