@import "../../util//color.scss";

.eightAdd {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/images/main/intun.svg");
  background-position: center;
  background-size: cover;
  padding: 0 14rem;

  &-area {
    width: 40rem;
    display: flex;
    justify-content: center;
    color: $white;
    flex-direction: column;
    &-name {
      font-size: 3rem;
      font-weight: 800;
      margin-top: 10rem;
    }

    hr {
      margin: 0.2rem 0;
      border-color: $line;
    }

    &-info {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}
