@import "../../util//color.scss";

.studio {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets//images/studio//Studio.svg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
